<div id="manager_top">
  <img src="assets/IMG/logo-primark-for-website.png" alt="shop_logo">
  <h1 id="shop_name">PRIMARK MANAGER FOR OASIS</h1>
</div>


<div id="manager">
  <div id="selector">
    <button routerLink="orders">Pedidos</button>
    <button routerLink="myshop">Mi tienda</button>
    <button routerLink="myinfo">  Mi información</button>
    <button routerLink="shopsupport">Soporte</button>
    <button routerLink="shopapi">Como usar API</button>
  </div>
  <router-outlet></router-outlet>
</div>
