<div id="manager_top">
  <img src="{{shop.image}}" alt="shop_logo">
  <h1 id="shop_name">{{shop.name}} manager for Oasis</h1>
</div>


<div id="manager">
  <div id="selector">
    <button (click)="navigate('orders')">Pedidos</button>
    <button (click)="navigate('myshop')">Mi tienda</button>
    <button (click)="navigate('myinfo')">  Mi información</button>
    <button (click)="navigate('shopsupport')">Soporte</button>
    <button (click)="navigate('shopapi')">Como usar API</button>
    <button (click)="navigate('myproducts')">Mis productos</button>
  </div>
  <router-outlet></router-outlet>
</div>
