<div class="card2">
  <img *ngIf="selectedImg" [src]="'../../../assets/IMG/' + selectedImg" class="card-img-bottom" alt="...">
</div>

<div class="search">
  <input type="text" class="search__input" placeholder="Search...">
  <button class="search__button">
    <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
      <g>
        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
      </g>
    </svg>
  </button>
</div>


<!-- Aquí va tu comentario
<div class="container-fluid2">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
-->
<div class="main" style="display: inline-flex;">
  <div class="card" style="width: 18rem;" *ngFor="let producto of productos | async; index as i">
    <img [src]="producto.foto" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="star-rating">
        <input type="radio" [id]="'star5-' + i" [name]="'rating-' + i" value="5"><label [for]="'star5-' + i" title="5 estrellas"></label>
        <input type="radio" [id]="'star4-' + i" [name]="'rating-' + i" value="4"><label [for]="'star4-' + i" title="4 estrellas"></label>
        <input type="radio" [id]="'star3-' + i" [name]="'rating-' + i" value="3"><label [for]="'star3-' + i" title="3 estrellas"></label>
        <input type="radio" [id]="'star2-' + i" [name]="'rating-' + i" value="2"><label [for]="'star2-' + i" title="2 estrellas"></label>
        <input type="radio" [id]="'star1-' + i" [name]="'rating-' + i" value="1"><label [for]="'star1-' + i" title="1 estrella"></label>
      </div>
      <div class="accordion accordion-flush" [id]="'accordionFlushExample' + i">
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="'flush-heading' + i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + i">
              {{producto.name}}
            </button>
          </h2>
          <div [id]="'flush-collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + i" [attr.data-bs-parent]="'#accordionFlushExample' + i">
            <div class="accordion-body">{{producto.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

