<div id="s_profileData">
  <h2><strong>Datos de mi Cuenta</strong></h2>
  <div class="row datos_generales">
    <div class="col nombre_apellidos">
      <p>Nombre y Apellidos</p>
      <p>Prueba</p>
    </div>
    <div class="row borde_inferior">
      <input type="text" class="input_perfil" placeholder="Nombre">
      <input type="text" class="input_perfil" placeholder="Apellidos">
    </div>
  </div>
  <div class="row datos_generales">
    <div class="row">
      <p>Contraseña</p>
    </div>
    <div class="row borde_inferior">
      <input type="text" class="input_perfil" placeholder="Contraseña Actual">
      <input type="text" class="input_perfil" placeholder="Contraseña Nueva">
      <input type="text" class="input_perfil" placeholder="Repetir Nueva Contraseña">
    </div>

  </div>
</div>
