<div id="s_profileData">
  <h2><strong>Detalles de mi Cuenta</strong></h2>
  <h4><strong>Datos Básicos</strong></h4>
  <div class="row datos_generales">
    <div class="col nombre_apellidos">
      <p>Nombre y Apellidos: </p>
      <p>{{name}}</p>
      <p>{{lastName}}</p>
    </div>
    <div class="row borde_inferior">
      <input type="text" class="input_perfil" placeholder="Nombre">
      <input type="text" class="input_perfil" placeholder="Apellidos">
    </div>
  </div>
  <div class="row datos_generales">
    <div class="row">
      <p>Contraseña</p>
    </div>
    <div class="row borde_inferior">
      <input type="text" class="input_perfil" placeholder="Contraseña Actual">
      <input type="text" class="input_perfil" placeholder="Contraseña Nueva">
      <input type="text" class="input_perfil" placeholder="Repetir Nueva Contraseña">
    </div>
  </div>
  <div class="row direcciones_facturacion">
    <h4>Direcciones de Facturacion</h4>
      <app-shipment-address></app-shipment-address>
  </div>
</div>
