.contenedor-total{
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}

.contenedor{
  display: flex;
  gap: 1em;
}

.marco{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  max-width: 100%;
  width: 195px;
  height: 165px;
}

.marco img{
  max-width: 100%;
  max-height: 100%;
}

.marco:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
  transition: all 0.6s ease;
}

.dialogo{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px){
  .marco{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    max-width: 100%;
    width: 90px;
    height: 90px;
  }
}
