<div class="contenedor">
  <div class="contenedor-modal">
    <div class="top">
      <div class="texto">
        <h5>Añadir tiendas</h5>
      </div>
      <div class="buscador">
        <input placeholder="Buscar tienda">
      </div>
    </div>
    <div class="marcos">
      <div class="marco1" (click)="setData('FootLocker'); closeModal()"><img src="./assets/IMG/foot_locker.svg"></div>
      <div class="marco2" (click)="setData('Zara'); closeModal()"><img src="./assets/IMG/Zara_logo.svg"></div>
      <div class="marco3" (click)="setData('JD'); closeModal()"><img src="./assets/IMG/JD_logo.svg"></div>
    </div>

    <div class="botones">
      <button class="cerrar" (click)="closeModal()">Cerrar</button>
    </div>
  </div>

</div>
