<div id="s_categories">
  <div id="header_auxiliar_h">
    <h2>Pedidoso en Cuso</h2>
    <p>Fecha: 2023</p>
    <p>Ordenar por: Fecha Decreciente</p>

  </div>
  <!--Pedido-->
  <div class="row pedido">
    <div class="pedido_header">
      <p>Nº Pedido: 6969696969</p>
      <p>Fecha de creación: 21/03/2023</p>
    </div>
    <div class="pedido_header">
      <div class="pedido_botones">
        <button type="button" class="btn btn-outline-secondary pedido_boton">Generar Factura</button>
      </div>
      <div class="pedido_botones">
        <button type="button" class="btn btn-outline-secondary pedido_boton">Detalles del Pedido</button>
      </div>
    </div>
    <div class="pedido_header borde_doble">
      <p>Estado: Enviado</p>
      <button type="button" class="btn btn-outline-secondary pedido_boton">Seguimiento</button>
    </div>
    <div class="pedido_header borde_doble_fuerte">
      <p>Tienda: PcComp</p>
    </div>
    <!--Esto es el producto del pedido-->
    <div class="container">
      <div class="col producto_pedido ">
        <div class="col producto_imagen col-md-2">
          <img src="assets/IMG/ejemplo_producto.png" alt="">
        </div>
        <div class="col col-lg-6">
          <p>MSI RTX 3080 TI </p>
          <p>1.600 €</p>
          <p>x 1 Unidades</p>
        </div>
        <div id="col-lg-2">
          <button type="button" class="btn btn-outline-secondary pedido_boton_devolver ">Devolver</button>
        </div>
      </div>
    </div>
  </div>
</div>
