<div class="Contendor-Categorias">
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 1</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 2</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 3</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 4</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 5</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 6</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 7</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Categoria 8</a>
</div>
