<div class="Contendor-Categorias">
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Ropa para Hombre</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Ropa para Mujer</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Ofertas</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Ropa deportiva</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Calzado</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Informática</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Electrodomésticos</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Deportes</a>
  <a href="#" data-bs-dismiss="offcanvas" (click)="closeCaetegoria()">Hogar</a>
</div>
