<div id="main_content">
  <div id="left_category_selector">
  </div>
  <div id="top_bar">
    <div id="top_selection">
      < 1 ... 2 .. 3 .. 4 .. 5 >
    </div>
    <select name="item_amount">
      <option value="value1">10</option>
      <option value="value2">50</option>
      <option value="value3">100</option>
    </select>
  </div>
  <div id="order_frame">
    <div class="order">
      <img class="order_image" src="../../../../../assets/IMG/PRUEBAS_A_ELIMINAR/img_prueba1_pedido.png">
      <h1 class="order_date"> Fecha: 23/02/23</h1>
      <div class="order_info">
        <h1>Información de envío:</h1>
        <p>
          Marie Dupont <br>
          +33 1 23 45 67 89 <br>
          22 Rue du Grenier Saint-Lazare <br>
          75003 Paris <br>
          France <br>
        </p>
      </div>
      <div class="order_products">
        <h1>Productos</h1>
        <table>
          <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Seleccionado</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="prod1">Producto 1</td>
            <td id="cant1">3</td>
            <td><input type="checkbox" id="sel1"></td>
          </tr>
          <tr>
            <td id="prod2">Producto 2</td>
            <td id="cant2">8</td>
            <td><input type="checkbox" id="sel2"></td>
          </tr>
          <tr>
            <td id="prod3">Producto 3</td>
            <td id="cant3">2</td>
            <td><input type="checkbox" id="sel3"></td>
          </tr>
          <tr>
            <td id="prod4">Producto 4</td>
            <td id="cant4">5</td>
            <td><input type="checkbox" id="sel4"></td>
          </tr>
          </tbody>
        </table>
        <button type="submit">Enviar</button>
      </div>
    </div>
  </div>
  <div id="sub_bar">
    <div id="sub_selection">
      < 1 ... 2 .. 3 .. 4 .. 5 >
    </div>
    <select name="item_amount">
      <option value="value1">10</option>
      <option value="value2">50</option>
      <option value="value3">100</option>
    </select>
  </div>
</div>
