<!-- Main -->
<main class="container">

  <div class="d-flex justify-content-center">
    <!--Left-->
    <div class="mr-5 mt-5">
      <h3 class="text-highlight">{{ 'registration.noAccount' | translate }}</h3> <br> <br>
      <div class="d-flex">
        <img src="./assets/IMG/descargar.png" alt="X">
        <h4 id="savePurchaseHistory">{{ 'registration.startSelling' | translate }}</h4>
      </div> <br> <br>
      <div class="d-flex">
        <img src="./assets/IMG/Group.png" alt="X">
        <h4 id="earnDiscounts">{{ 'registration.increaseSales' | translate }}</h4>
      </div> <br> <br>
      <div class="d-flex">
        <img src="./assets/IMG/ic_outline-discount.png" alt="X">
        <h4 id="saveOnShipping">{{ 'registration.unifiedMarketplace' | translate }}</h4>
      </div> <br> <br>
      <div class="d-flex">
        <img src="./assets/IMG/Corazon.png" alt="X">
        <h4 id="saveFavoriteStores">{{ 'registration.customizeStore' | translate }}</h4>
      </div> <br> <br>

      <form action="/register"><button type="submit" class="btn btn-warning orange-button w-25">{{ 'registration.register' | translate }}</button></form>
    </div>
    <!--Right-->
    <div class="border-start row position-relative mt-5">

      <!--Up-->
      <div class="ml-2 justify-content-center d-flex mb-5">
        <div>
          <button type="button" id="facebookLogin" class="mb-5 btn btn-primary w-100">
            Facebook
          </button>

          <h4 style="text-align: center;">- Or -</h4>

          <button type="button" id="googleLogin" class="mt-2 btn btn-danger w-100">
            Google
          </button>
          <div id="g_id_signin" data-locale="es"></div>
          <div id="my-signin2"></div>
        </div>
      </div>

      <!--Down-->
      <div class="border-top justify-content-center d-flex ml-2 ,t">
        <form id="signInForm" class="ml-2 mt-5 w-50" target="frame">
          <div class="mb-3">
            <p id="emailLabel">{{ 'registration.companyEmail' | translate }}</p>
            <input type="email" class="form-control" id="e-mail" placeholder="{{ 'registration.companyEmailPlaceholder' | translate }}">
          </div>
          <div class="mb-3">
            <p id="passwordLabel">{{ 'registration.password' | translate }}</p>
            <input type="password" class="form-control" id="pwd" placeholder="******" required>
          </div>
          <div class="d-flex justify-content-center">
            <button type="enviar" class="btn btn-warning orange-button" id="submitButton">{{ 'registration.submit' | translate }}</button>
          </div>
        </form>
        <iframe name="frame" style="display:none;"></iframe>
      </div>
    </div>
  </div>
</main>
