<div class="all">
  <div class="headerTitle">
    <div class="headerCart">
      <h1 id="header"> Cart</h1>
    </div>

    <div class="headerPrice">
      <h1 id="header"> Price</h1>
    </div>

    <div class="headerSimilar">
      <h1 id="header">Similar Products</h1>
    </div>
  </div>

  <div class="containerCartSimilar">
    <div class="containerCart"></div>
    <div class="containerSimilar"></div>
  </div>
  <div class="containerBottom">
    <div class="containerBottom1">
      <div class="buyButton">
        <a class="btn btn-primary" id="buy">Buy</a>
      </div>
      <div class="headerTotal">
        <h2 id="total"> Total: 0.00€</h2>
      </div>
    </div>
  </div>







      <div class="cart-box-bottom">


      </div>

</div>
