<div class="all">
  <div class="headerTitle">
    <div class="headerCart">
      <h1 id="header"> Cart</h1>
    </div>

    <div class="headerPrice">
      <h1 id="header"> Price</h1>
    </div>

    <div class="headerSimilar">
      <h1 id="header">Similar Products</h1>
    </div>
  </div>

  <div class="containerCartSimilar">
    <div class="containerCart" [ngClass]="{'scrollable': cartItems.length > 2}">
      <div *ngFor="let item of cartItems">
        <div class="container">
          <div class="col producto_pedido ">
            <div class="col producto_imagen col-md-2">
              <img [src]="item.picture" width="100%" height="100%" alt="Product Image">
            </div>
            <div class="col col-lg-6">
              <p>{{ item.name }}</p>
              <p>{{ item.description }}</p>
              <p>x 1 Unidades</p>
            </div>
            <div id="col-lg-2">
              <button type="button" class="btn btn-outline-secondary pedido_boton_devolver " (click)="eliminarItem(item.name)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerSimilar"></div>
  </div>
  <div class="containerBottom">
    <div class="containerBottom1">
      <div class="buyButton">
        <a class="btn btn-primary" id="buy" (click)="printCart()">Buy</a>
      </div>
      <div class="headerTotal">
        <h2 id="total"> Total: 0.00€</h2>
      </div>
    </div>
  </div>
</div>
