<main class="container">

  <div class="d-flex justify-content-center">
    <!--Left-->
    <div class="mr-5 mt-5">
      <h3 class="text-highlight">¿No tienes una cuenta?</h3> <br> <br>
      <div class="d-flex">
        <h5>Empieza a vender en nuestra web, sin ningun tipo de comisión.</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>Aumenta el alcanze de tus ventas</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>Disponemos de un mercado unificado, facilitando la <br> compra
          a los clientes a traves de nuestra web.</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>Personaliza la vista de tu tienda</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>Promociona tus ofertas y novedades</h5>
      </div> <br> <br>

      <form action="/registro.html"><button type="submit"
                                            class="btn btn-warning orange-button w-25">Registrarse</button></form>
    </div>
    <!--Right-->
    <div class="border-start row position-relative mt-5" d-fle>
      <form id="form" class="ml-10" action="/index.html" class="" method="GET" required>
        <div class="mb-3">
          <p>Nombre de la empresa</p>
          <input type="text" class="form-control" id="Cname" placeholder="Company's name" required>
        </div>
        <div class="mb-3">
          <p>e-mail de la empresa</p>
          <input type="email" class="form-control" id="cemail" placeholder="example@example.com" required>
        </div>
        <div class="mb-3">
          <p>Numero de contacto</p>
          <input type="number" maxlength="13" class="form-control" id="cnum" placeholder="123456789" required>
        </div>
        <div class="mb-3">
          <p>Direccion de la sede</p>
          <input type="text" class="form-control" id="cdirection" placeholder="Direction" required>
        </div>
        <div class="mb-3">
          <p>Sector al que se dedica</p>
          <input type="text" class="form-control" id="csector" placeholder="Sector" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-warning orange-button">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</main>
