<main class="container">

  <div class="d-flex justify-content-center">
    <!--Left-->
    <div class="mr-5 mt-5">
      <h3 class="text-highlight">{{ 'registration.noAccount' | translate }}</h3> <br> <br>
      <div class="d-flex">
        <h5>{{ 'registration.startSelling' | translate }}</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>{{ 'registration.increaseSales' | translate }}</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>{{ 'registration.unifiedMarketplace' | translate }}</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>{{ 'registration.customizeStore' | translate }}</h5>
      </div> <br> <br>
      <div class="d-flex">
        <h5>{{ 'registration.promoteOffers' | translate }}</h5>
      </div> <br> <br>

      <form action="/registro.html"><button type="submit"
                                            class="btn btn-warning orange-button w-25">{{ 'registration.register' | translate }}</button></form>
    </div>
    <!--Right-->
    <div class="border-start row position-relative mt-5" d-fle>
      <form id="form" class="ml-10"  class="" method="GET" (submit)="enviarSolicitud()" target="frame" required>
        <div class="mb-3">
          <p>{{ 'registration.companyName' | translate }}</p>
          <input type="text" class="form-control" id="Cname" placeholder="{{ 'registration.companyNamePlaceholder' | translate }}" required>
        </div>
        <div class="mb-3">
          <p>{{ 'registration.companyEmail' | translate }}</p>
          <input type="email" class="form-control" id="cemail" placeholder="{{ 'registration.companyEmailPlaceholder' | translate }}" required>
        </div>
        <div class="mb-3">
          <p>{{ 'registration.contactNumber' | translate }}</p>
          <input type="number" maxlength="13" class="form-control" id="cnum" placeholder="{{ 'registration.contactNumberPlaceholder' | translate }}" required>
        </div>
        <div class="mb-3">
          <p>{{ 'registration.headquartersAddress' | translate }}</p>
          <input type="text" class="form-control" id="cdirection" placeholder="{{ 'registration.headquartersAddressPlaceholder' | translate }}" required>
        </div>
        <div class="mb-3">
          <p>{{ 'registration.businessSector' | translate }}</p>
          <input type="text" class="form-control" id="csector" placeholder="{{ 'registration.businessSectorPlaceholder' | translate }}" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-warning orange-button">{{ 'registration.submit' | translate }}</button>
        </div>
      </form>
      <iframe name="frame" style="display:none;"></iframe>
    </div>
  </div>
</main>

