.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.form-container {

  padding: 20px;
  background-color: rgb(46, 79, 79);

  flex-wrap: wrap;
  border-radius: 10px;
}

.form-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;

  background-color: #444; /* Fondo oscuro de los inputs */
  color: white; /* Color de texto blanco */
  border: 1px solid #666; /* Borde ligero */

  border-radius: 4px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

label {
  color: white; /* Color de texto blanco */
}


.button-container button {
  margin-right: 10px;
  border-radius: 4px;
  color: white; /* Color de texto blanco */
  background-color: #333; /* Fondo oscuro del botón */
  border: none;
  cursor: pointer;
}

.error-message {
  color: red; /* Color de texto rojo para el mensaje de error */
  margin-top: 10px;
}


