<div class="container" id="s_wishlist">
  <div class="container_h2">
    <h2>Lista de Deseos</h2>
  </div>
  <!--Ejemplo wishlist 1-->
  <div class="wishlist">
    <div class="col-4 columna_wishlist">
      <div class="col">
        <img src="assets/IMG/ejemplo_producto.png" alt="">
      </div>
      <div class="col">
        <p>-MSI RTX 3080 TI </p>
        <p>-1.600 €</p>
        <p>-x 1 Unidades</p>
      </div>
    </div>
    <div class="col-5 columna_mid_wishlist">
      <p><strong>Tienda: </strong> PcComponentes</p>
    </div>
    <div class="col-5 columna_r_wishlist">
      <button type="button" class="btn btn-outline-secondary boton_wishlist">Añadir al carrito</button>
      <button type="button" class="btn btn-outline-secondary boton_wishlist">Eliminar</button>
    </div>
  </div>
  <!--Ejemplo wishlist 2-->
  <div class="wishlist">
    <div class="col-4 columna_wishlist">
      <div class="col">
        <img src="assets/IMG/ejemplo_vans.png" alt="">
      </div>
      <div class="col">
        <p>-Zapatillas Vans Sk8 Hi </p>
        <p>-80 €</p>
        <p>-x 1 Unidades</p>
      </div>
    </div>
    <div class="col-5 columna_mid_wishlist">
      <p><strong>Tienda: </strong> Vans Store</p>
    </div>
    <div class="col-5 columna_r_wishlist">
      <button type="button" class="btn btn-outline-secondary boton_wishlist">Añadir al carrito</button>
      <button type="button" class="btn btn-outline-secondary boton_wishlist">Eliminar</button>
    </div>
  </div>
  <!--Fin ejemplos wishlist-->
</div>
