main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 400px;
}

h1 {
  color: #4d4d4d;
}

h2 {
  margin-top: 20px;
  font-size: 1.5em;
  justify-content: center;
  color: #858585;
}

#mensaje {
  display: grid;
  justify-items: center;
}

