<div class="title">
  <h1>¿Cómo quieres pagar?</h1>
</div>

<div class="tab">
  <button class="tablinks" onclick="openCity('Credit Card')" id="defaultOpen">Credit Card</button>
  <button class="tablinks" onclick="openCity('Master Card')">Master Card</button>
  <button class="tablinks" onclick="openCity('PayPal')">PayPal</button>
</div>

<div id="Credit Card" class="tabcontent">
  <h3>Credit Card</h3>
  <p>Card Number</p>
  <input type="text" name="card" placeholder="Enter Card Number">

  <p>Expiration Date</p>
  <input type="month" name="month" placeholder="Month">

  <p>CVV/CVC</p>
  <input type="text" name="cvv">

  <p>Card Holder Name</p>
  <input type="text" name="name" placeholder="Enter Card Holder Name">

  <button class="pay">pay</button>

</div>

<div id="Master Card" class="tabcontent">
  <h3>Master Card</h3>
  <p>Card Number</p>
  <input type="text" name="card" placeholder="Enter Card Number">

  <p>Expiration Date</p>
  <input type="month" name="month" placeholder="Month">

  <p>CVV/CVC</p>
  <input type="text" name="cvv">

  <p>Card Holder Name</p>
  <input type="text" name="name" placeholder="Enter Card Holder Name">

  <button class="pay">pay</button>

</div>

<div id="PayPal" class="tabcontent">
  <h3>PayPal</h3>
  <p>User Name</p>
  <input type="text" name="userid">

  <p>Password</p>
  <input type="password" name="pwd">

  <button class="pay">pay</button>

</div>

