<div class="all">
  <div class="title">
    <h1>{{ 'payment.howToPay' | translate }}</h1>
  </div>

  <div class="tab">
    <button class="tablinks" onclick="openCity('Credit Card')" id="defaultOpen">{{ 'payment.creditCard' | translate }}</button>
    <button class="tablinks" onclick="openCity('Master Card')">{{ 'payment.masterCard' | translate }}</button>
    <button class="tablinks" onclick="openCity('PayPal')">{{ 'payment.payPal' | translate }}</button>
  </div>

  <div id="Credit Card" class="tabcontent">
    <h3>{{ 'payment.creditCard' | translate }}</h3>
    <p>{{ 'payment.cardNumber' | translate }}</p>
    <input type="text" name="card" placeholder="{{ 'payment.enterCardNumber' | translate }}">

    <p>{{ 'payment.expirationDate' | translate }}</p>
    <input type="month" name="month" placeholder="{{ 'payment.month' | translate }}">

    <p>{{ 'payment.cvv' | translate }}</p>
    <input type="text" name="cvv">

    <p>{{ 'payment.cardHolderName' | translate }}</p>
    <input type="text" name="name" placeholder="{{ 'payment.enterCardHolderName' | translate }}">

    <button class="pay">{{ 'payment.pay' | translate }}</button>
  </div>

  <div id="Master Card" class="tabcontent">
    <h3>{{ 'payment.masterCard' | translate }}</h3>
    <p>{{ 'payment.cardNumber' | translate }}</p>
    <input type="text" name="card" placeholder="{{ 'payment.enterCardNumber' | translate }}">

    <p>{{ 'payment.expirationDate' | translate }}</p>
    <input type="month" name="month" placeholder="{{ 'payment.month' | translate }}">

    <p>{{ 'payment.cvv' | translate }}</p>
    <input type="text" name="cvv">

    <p>{{ 'payment.cardHolderName' | translate }}</p>
    <input type="text" name="name" placeholder="{{ 'payment.enterCardHolderName' | translate }}">

    <button class="pay">{{ 'payment.pay' | translate }}</button>
  </div>

  <div id="PayPal" class="tabcontent">
    <h3>{{ 'payment.payPal' | translate }}</h3>
    <p>{{ 'payment.userName' | translate }}</p>
    <input type="text" name="userid">

    <p>{{ 'payment.password' | translate }}</p>
    <input type="password" name="pwd">

    <button class="pay">{{ 'payment.pay' | translate }}</button>
  </div>
</div>
